# Project 1: Fines Charged by the Department of Consumer and Worker Protection (DCWP) in NYC

## Load Data and Preview

In [51]:
# Read Dataset from csv. API
import pandas as pd

url = "https://data.cityofnewyork.us/resource/2k3g-r445.csv?$query=SELECT%0A%20%20%60record_id%60%2C%0A%20%20%60record_type%60%2C%0A%20%20%60business_name%60%2C%0A%20%20%60business_name2%60%2C%0A%20%20%60industry%60%2C%0A%20%20%60fee_sequence_id%60%2C%0A%20%20%60fee_type%60%2C%0A%20%20%60fee_description%60%2C%0A%20%20%60fee_amount%60%2C%0A%20%20%60fee_date%60%2C%0A%20%20%60fee_status%60%0AWHERE%20caseless_contains(%60fee_description%60%2C%20%22fine%22)"
df = pd.read_csv(url)

In [52]:
# Preview the head rows
df.head()

,record_id,record_type,business_name,business_name2,industry,fee_sequence_id,fee_type,fee_description,fee_amount,fee_date,fee_status
0,IP000050445-ADJC,Adjudication,"700 FOOTHILL FOOD CO., LLC",KEY FOOD SUPERMARKET,Supermarket - 819,226905,CNV_IP,IP - Item Pricing Fine,75.0,1996-01-02T00:00:00.000,INVOICED
1,TP000541285-ADJC,Adjudication,"RITE AID OF NEW YORK, INC.",RITE AID STORE #1947,Cigarette Retail Dealer - 127,25464,TP VIO,TP - Tobacco Fine Violation,2000.0,2004-01-02T00:00:00.000,INVOICED
2,IP005107392-ADJC,Adjudication,WESTERN BEEF RETAIL,NaN,Supermarket - 819,63325,CNV_IP,IP - Item Pricing Fine,400.0,2007-01-02T00:00:00.000,INVOICED
3,IP005129308-ADJC,Adjudication,"CVS ALBANY, L.L.C",CVS PHARMACY #2773,Drug Store Retail - 810,63259,CNV_IP,IP - Item Pricing Fine,800.0,2007-01-02T00:00:00.000,INVOICED
4,TP060006622-ADJC,Adjudication,"FENG, LIN",LIF GROCERY & DISCOUNT,Cigarette Retail Dealer - 127,1481278,TP VIO,TP - Tobacco Fine Violation,1500.0,2007-01-02T00:00:00.000,INVOICED

In [53]:
#Preview the variables (Column Names)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   record_id        1000 non-null   object
 1   record_type      1000 non-null   object
 2   business_name    1000 non-null   object
 3   business_name2   195 non-null    object
 4   industry         1000 non-null   object
 5   fee_sequence_id  1000 non-null   int64
 6   fee_type         1000 non-null   object
 7   fee_description  1000 non-null   object
 8   fee_amount       1000 non-null   float64
 9   fee_date         1000 non-null   object
 10  fee_status       1000 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 86.1+ KB

## Filter out the target variable

In [54]:
# Retain only the 'record_id', 'fee_amount'
df_FeeAmount = df[['record_id', 'fee_amount']].copy()

## Calculate the mean, the median and the mode

In [55]:
# Calculate (and print) the mean, the median and the mode of poverty rate for each borough
mean_FeeAmount = df_FeeAmount['fee_amount'].mean()
median_FeeAmount = df_FeeAmount['fee_amount'].median()
mode_FeeAmount = df_FeeAmount['fee_amount'].mode().iloc[0]

#print the results of the mean, median, and mode
print(f"the mean of the fee amount is: {mean_FeeAmount:.1f}")
print(f"the median of the fee amount is: {median_FeeAmount:.1f}")
print(f"the mode of the fee amount is: {mode_FeeAmount:.1f}")

the mean of the fee amount is: 1218.3
the median of the fee amount is: 1000.0
the mode of the fee amount is: 750.0

# The Hard Way

In [56]:
# Extract target value from the dataset
fee_list = df['fee_amount']

In [57]:
# Calculate the mean
mean_fee = sum(fee_list)/len(fee_list)

# Calulate the median
sorted_list = sorted(fee_list)
n = len(sorted_list)

if n % 2 == 1:
    median_fee = sorted_list[n // 2]
else:
    median_fee = (sorted_list[n // 2 - 1] + sorted_list[n // 2]) / 2

# Find the mode
counts = {}
for i in fee_list:
    if i in counts:
        counts[i] += 1
    else:
        counts[i] = 1

mode_fee = max(counts, key = counts.get)

#print the results of the mean, median, and mode
print(f"the mean of the fee amount is: {mean_fee:.1f}")
print(f"the median of the fee amount is: {median_fee:.1f}")
print(f"the mode of the fee amount is: {mode_fee:.1f}")

the mean of the fee amount is: 1218.3
the median of the fee amount is: 1000.0
the mode of the fee amount is: 750.0

# Visualization

In [58]:
# Filter Top 10 the most frequent fine amount
top10_counts = sorted(counts.items(), key=lambda x: x[1], reverse=True)[:10]
top10_counts

[(750.0, 258),
 (1000.0, 158),
 (1500.0, 119),
 (500.0, 105),
 (2000.0, 77),
 (1125.0, 43),
 (3000.0, 31),
 (2500.0, 21),
 (1750.0, 19),
 (300.0, 17)]

In [59]:
def bar_plot(dict, max_width=50, char='-'):
    max_count = dict[0][1]
    for amount, freq in dict:
        bar = char * int(freq / max_count * max_width)
        print(f"{str(amount):>10} | {bar} {freq}")

bar_plot(top10_counts)

     750.0 | -------------------------------------------------- 258
    1000.0 | ------------------------------ 158
    1500.0 | ----------------------- 119
     500.0 | -------------------- 105
    2000.0 | -------------- 77
    1125.0 | -------- 43
    3000.0 | ------ 31
    2500.0 | ---- 21
    1750.0 | --- 19
     300.0 | --- 17